<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    
                  <div class="navbar">
                    <a href="#home">Home</a>
                    <div class="dropdown">
                      <button class="dropbtn">Category
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-content">
                        <a href="#Hello">Link 1</a>
                        <a href="#Hello">Link 2</a>
                        <a href="#Hello">Link 3</a>
                      </div>
                      <button class="log p-2">login</button>
                      <button class="register">register</button>
                    </div>
                  </div>
                  
  </body>
</html>
