<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/pitch.css')}}">
</head>
<body>
	<nav class="main-nav">
	
			
		<button><a href="/pitches"> Pitches</a></button>
		<button><a href="/profile"> Profile</a></button>
		<button> <a href="/authenticate/registerUser"> Register</a> </button>
		<button><a class="cta" href="/authenticate/login">Log In</a></button>


		<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated %}
			<li style="color:white;padding:15px;">{{current_user.username}}</li>
			<li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
			{% else %}
			<!-- <li><a href="{{url_for('auth.login')}}">Sign in</a></li> -->
			{%endif%}
		  </ul>
		
	</nav>

<div class="form-group">
  
    <button class="btn btn-primary btn-block btn-sm btn-no-radius ">Post Pitch</button>
</div>


				<!-- Tab panes -->
				<div class="tab-content mt30 mb30">
					<div class="tab-pane active" id="technologies">
						<ul id="post-list">
                
			                <li>
			                    <a href="">
			                        <aside class="dates">Dec 3</aside>
			                    </a>
			                    
			                    <a href="">
			                        Valarie
			                    </a>
			                    <h2 class="headline">
									“Hey, my name’s Microsoft. Can I crash at your place tonight?”
			                    </h2>
			                    <small class="votes">
			                    	<i class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 30
			                    	&nbsp;&nbsp;&nbsp;&nbsp;
			                    	<i class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 2
			                    </small>
			                </li>

			                <li>
			                    <a href="">
			                        <aside class="dates">Jan 30</aside>
			                    </a>
			                    <a href="">
			                        Kelvin
			                    </a>
			                    <h2 class="headline">
									“I’m Kelvin. I fell in love with technology after winning a programming contest in eighth grade. That led to a degree in computer science, and I’ve now worked in IT for eight years. I recently wrapped up a contract as a senior data analyst with a big bioinformatics company, and I’m now looking for opportunities with other large medical data organizations.”
			                    </h2>
			                    <small class="votes">
			                    	<i class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 70
			                    	&nbsp;&nbsp;&nbsp;&nbsp;
			                    	<i class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 5
			                    </small>
			                </li>

			                <li>
			                    <a href="">
			                        <aside class="dates">Jun 4</aside>
			                    </a>
			                    <a href="">
			                        Eunice
			                    </a>
			                    <h2 class="headline">
			                        "There’s a better way to grow. HubSpot offers marketing, sales, service, and operations software that helps your business grow without compromise. Because ‘good for the business’ should also mean ‘good for the customer.’”
			                    </h2>
			                    <small class="votes">
			                    	<i class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 20
			                    	&nbsp;&nbsp;&nbsp;&nbsp;
			                    	<i class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 1
			                    </small>
			                </li>
							<small class="votes">
								<i class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 70
								&nbsp;&nbsp;&nbsp;&nbsp;
								<i class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 5
							</small>
						</li>

						<li>
							<a href="">
								<aside class="dates">Feb 14</aside>
							</a>
							<a href="">
								Livingstone
							</a>
							<h2 class="headline">
								“I am a salesperson but I specialize in sales management and sales promotion. I currently work at ABC group of companies and my team is coming up with a sales promotion strategy that will help companies reduce promotion costs by 45% which will be launched at the end of the year. 
							</h2>
							<small class="votes">
								<i class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 40
								&nbsp;&nbsp;&nbsp;&nbsp;
								<i class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 6
							</small>
						</li>

			                
			            </ul>
					</div>
					<div class="tab-pane" id="business">
					</div>
					<div class="tab-pane" id="project">
					</div>
					<div class="tab-pane" id="product">
					</div>
				</div>
	        </div>
    	</div>
	</div>
</div>







	
</body>
</html>